* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #444;
}

.hide {
    display: none;
}

h2 { margin: 50px; }

.images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

img {
    width: 160px;
    margin: 10px;
}
.hearts, .message { text-align: center; }
.hearts { font-size: 24px; }

.submit-btn {
    display: block;
    outline: none;
    width: 200px;
    height: 45px; 
    margin: 20px auto;
    background-color:#ececec;
    border: 1px solid #ececec;
    color: #444;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.submit-btn:hover {
    background-color:#fdffd6;
}

input {
    display: none;
}

.heart-list-container {
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;  
    justify-content: center;
    color: #e2e2da;
  }
  
label:first-of-type:hover ~label:nth-of-type(-n+5), label:first-of-type:hover,
label:nth-of-type(2):hover ~label:nth-of-type(n+3):nth-of-type(-n+5), label:nth-of-type(2):hover,
label:nth-of-type(3):hover ~label:nth-of-type(n+4):nth-of-type(-n+5), label:nth-of-type(3):hover,
label:nth-of-type(4):hover ~label:last-of-type, label:nth-of-type(4):hover,
label:last-of-type:hover{
    text-shadow: 0.1px 0.1px 1px rgba(248, 248, 203, 0.72);
    color: #f7ff65;
  }


input:first-of-type:checked ~label:nth-of-type(-n+5),
input:nth-of-type(2):checked ~label:nth-of-type(n+2):nth-of-type(-n+5),
input:nth-of-type(3):checked ~label:nth-of-type(n+3):nth-of-type(-n+5),
input:nth-of-type(4):checked ~label:nth-of-type(n+4):nth-of-type(-n+5),
input:last-of-type:checked ~label:last-of-type {
    color: #f7ff65;
  }


.heart {
    position: relative;
}

.desc-msg {
    position: absolute;
    top: 45px;
    left: -5px;
    padding: 5px 0 5px;
    background-color: #ececec;
    width: 50px;
    font-size: 8px;
    color: #444;
    text-align: center;
}

.result {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}