* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    color: rgb(54, 54, 54);
    font-family: 'Roboto', sans-serif;
}

.last-visit-container {
    padding: 20px 100px;
    width: 80%;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto;
    padding: 30px;
}

.loader-preview {
    width: 360px;
    height: 360px;
    background-color: #fff;
    text-align: center;
    line-height: 360px;
    font-size: 45px;
    
}

.loader-list-container {
    position: relative;
    height: 360px;
}

.loader-list-btn {
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    height: 40px;
    width: 200px;
    align-items: center;
}
.arrow-down {
    margin-top: 7px;
    border: 7px solid transparent; 
    border-top: 8px solid rgb(54, 54, 54);   
}

.loader-list {
    display: none;
    background-color: #fff;
    width: 200px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 30px;
    list-style: none;
    padding-top: 10px;
}
.loader-list li {
    padding: 10px 25px;
}
.loader-list li:hover {
    background-color: #4d8c9d;
    color: white;
}


/* Utilities */
.show {
    display: block;
}
.selected {
    color: #4d8c9d;
}

@media (max-width: 750px) {

    .loader-preview {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .content-container {
        flex-direction: column-reverse;
    }
}